/* .habit-plan {
  display: flex;
  align-items: center;
  gap: 24px;
} */

/* .habit-plan > button {
    bg-black rounded-full h-12 w-12 flex items-center justify-center
} */
/* .habit-plan > button.checked {
  border: none;
  opacity: 100;
} */
/* .habit-plan > button.unchecked {
  border: none;
  opacity: 0.2;
} */
/* flex items-center gap-6 */
.button {
  background: black;
  border-radius: 50%;
  border-color: black;
  height: 35px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
  text-transform: uppercase;
  font-weight: 500;
  transition: opacity 0.4s ease-in;
  opacity: 0.2;
  color: black;
}
